<head>
    <title>Grocery Listify</title>
</head>
<body>
<div class="container">
    <div>Hello World</div>
    <div id="app"></div>
    <script src="./test.js" data-container="#app"></script>
</div>
</body>